@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: black;

}
canvas {
  display: block;
}

#rotInfo{
  color: white;
  position: absolute;
  display: none;
  font-size: 5vh;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.lds-ring {
  display: flex;
  position: absolute;
  width: 12vw;
  height: 12vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lds-ring::after{
  content: 'LOADING';
  color: white;
  position: absolute;
  top: 120%;
  left: -25%;
  font-size: 4vw;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12vw;
  height: 12vw;
  margin: 0;
  border: 2vw solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
